<%- include('../partials/header') %>
<%- include('../partials/menu') %>


<div class="container-fluid">
	<div class="row" style="padding-top: 2.5vh;">
		<div class="col">

		</div>
		<div class="col-8" style="background: #FAF9F6;">
			<div class="row" style="padding-top: 1.5vh; padding-bottom: 1.5vh; border-bottom: 2px solid #86b9bd; max-height: 8vh;">
				<div class="col-3">
					<h4  style="text-align:start; color:gray; font-weight: bolder;"> Payment History</h4>
				</div>
				<div class="col6">
					
				</div>
				<div class="col-9" >
					<div class="dropdown" style="padding-left: 3.5vw;">
						<button class="btn btn-secondary dropdown-toggle" type="button" style="float: right;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Add Payment Method
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-weight: bold; border: 1px solid #86b9bd;">
							<a class="dropdown-item" href="#" style="border-bottom: 1px solid #86b9bd;">Add Venmo Account</a>
							<a class="dropdown-item" href="#" style="border-bottom: 1px solid #86b9bd;">Add Card</a>
							<a class="dropdown-item" href="#" >Add Paypal</a>
						</div>
					</div>
				</div>
				<div class="col">

				</div>
			</div>
			<div class="containerScroll__payments" style="padding-top: 1vh; padding-bottom: 2.5 vh;">
				
				<% if(data) 
          		{  
              
					var i = 0;
					data.forEach(function(item)
					{  
						
						
						if(7 == parseInt(item.receive_id))
						{
						%>
						<div class = card style ="width: 100%;">
							<div class="card-header">
								<%-item.sendername%> paid you $<%-item.amnt%> 
							</div>				
							<h5 class="card-title" style="text-align:center"> <%- item.transdesc %> </h5>
							<p class="card-text" style="text-align:right"> <%- item.t_date %></p>
						</div>
						<%
						}
						else if(7 == parseInt(item.send_id))
						{
						%>
						<div class = card style ="width: 100%;">
							<div class="card-header">
								You paid <%- item.receivername%> $<%-item.amnt%>
							</div>				
							<h5 class="card-title" style="text-align:center"> <%- item.transdesc %> </h5>
							<p class="card-text" style="text-align:right"> <%- item.t_date %></p>
						</div>
						<% }}); 
              
					}%>
			</div>
			<!--<div style="padding-top: 1vh; padding-bottom: 1vh; display: flex; justify-content: space-evenly; align-items: center; max-height: 6vh;">
				<button type="button" class="btn btn-primary btn-lg" style="background-color: #86b9bd; border: 1px solid lightgray;"> Make Payment </button>
				<button type="button" class="btn btn-primary btn-lg" style="background-color: #86b9bd; border: 1px solid lightgray;"> Request Payment </button>
			</div> --->
		</div>
		<div class="col">

		</div>
	</div>
</div>


<%- include('../partials/footer') %>
